builds/
.vscode/c_cpp_properties.json

*.txt
*.exe
*.out
*.bin
*.elf
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.brf
*.nav
*.snm
*.vrb
*.dvi
*.xdv
*.ps
*.glob
*.vo
*.vok
*.vos